*{margin: 0px;
padding: 0px;}

#container{
    background-color: rgb(233, 232, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}



#pB{
    display: none;
}

#pC{
    display: none;
}

.navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;
    transition: 0.8s ease;
}

.navigation a:hover{
    background-color: white;
    color: rgb(70, 65, 65);
    border-color: black;
}

nav.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.header-top {
    background: rgb(70, 65, 65);
    color: rgba(255, 255, 255, 0.877);
    display: flex;
    justify-content: space-around;
    padding:25px 0;
    font-family: 'Kreon', serif;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 1px 2px 5px 2px #5d5d5d;
    

}

.carros-informacoes {
    display: flex;
    padding: 0 30px;
}
.informacao {
    padding: 0 20px;
}
#carro1{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

#carro2{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

#carro3{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.textos{
    color: rgba(0, 0, 0, 0.877);
    text-align: center;
    font-style: bold;
    width: 500px;
    margin: 0 auto;
    font-family: 'Merienda', cursive;
}

#titulo1{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    font-family: 'Merienda', cursive;

}


#titulo2{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    font-family: 'Merienda', cursive;

}


#titulo3{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    font-family: 'Merienda', cursive;

}  

.rodapé{
    background: rgb(70, 65, 65);
    color: rgba(255, 255, 255, 0.877);
    display: flex;
    justify-content: space-around;
    padding:10px 0; 
}